node_modules
build
package.test.json
.env
stats.json
nohup.out
.rdsconfig
*.pem
Procfile
*.cert
*.rnd
*.key
prod
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk

.env
